*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
.body-container{
    width: 100vw;
    height: 100vh;
    position: relative;

}

.nature{

    background: url(bg.png);
    
  height: 100%;
  width:100%;
  background-size: cover;
  background-position: center;

}

.dragon{

    background: url(dragon.png);
    height: 13vh;
    width: 21vh;
    position: absolute;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 1px;
    left: 1321px;
   
    

}

.move{
    animation: move 3s linear infinite;
}
.player{

    background: url(dino.png);
    height: 12vh;
    width: 21vh;
    position: absolute;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 0px;
    left: 0px;
    /* animation: jump 0.5s linear infinite; */
    

}

@keyframes move{
0%{
    left:200vh;
}
    100%{
       left:-40vh;
    }
}



.jumpp{
animation: jumpy .5s linear  ;
}


@keyframes jumpy{

0%{

    /* transform: translateY(0px); */
    bottom:0px;
}
50%{

   bottom:500px;
}
100%{
    bottom:0px;
}


}

.forward{
    animation: forwward 0.5s linear;
}


@keyframes forwward{

  

    100%{

        bottom:400px;
    }
}





.gameover{

    position: absolute;
    top:50%;
    right:50%;
    font-size: 3rem;
    
 
    visibility: hidden;

}
.score{
    position: absolute;
    top:0px;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}